@import './palette.scss';

.App{
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-self: flex-end;
    // border: 2px solid green;
  }

}