@import './palette.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap');

.contact-container{
  width: 95%;
  margin: 2rem auto;
  margin-top: 4rem;

  .greeting{
    text-align: center;
    margin-left: 2rem;
    // border-bottom: 1.5px solid $color3;

      h1{
        font-size: 2.5rem;
        color: $color4;
        font-family: "Pacifico";
      }
  }

  form{
    width: 25%;
    padding: 2rem;
    margin: auto;
    font-family: "Lato";
    font-size: 1.5rem;
    color: $color2;
    display: flex;
    flex-direction: column;

    .contact-field{
      display: flex;
      justify-content: space-between;
      padding: 3%;

      input{
        padding: 3%;
      }
      textarea{
        padding: 5%;
      }
    }

    button{
      align-self: center;
      box-shadow: none;
      border: none;
      width: 35%;
      padding: .8rem 1.8rem;
      text-decoration: none;
      color: whitesmoke;
      background-color: $color2;
      border-radius: 5px;
      font-family: "Lato";
      font-size: 1rem;
      margin: 3% auto;

      &:hover{
        background-color: $color4;
      }
    }
  }
}