@import './palette.scss';

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  	position: absolute;
	left: 0; right: 0; bottom:0;
  p{
    font-weight: bold;
    color: $color4;
    font-size: .7rem;
  }
}