@import './palette.scss';

.footer-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color1;
  opacity: .7;
  p{
    font-weight: bold;
    color: $color4;
    font-size: .7rem;
  }
}