@import './palette.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap');

.header-container{
  box-sizing: border-box;
  width: 95%;
  margin: auto;
  padding: 2rem 0;
  color: $color4;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  // border-bottom: 1.5px solid $color3;


  .text-container{
    width: 68%;
    margin-left: 2rem;

    img{
      width: 25%;
      height:25%;
      border-radius: 150%;
    }
  
    .text{
      width: 50%;
      .greeting{
        p{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: auto;
          font-size: 1.5rem;
          font-family: "Lato";
        }

        h1{
          font-size: 2.5rem;
          font-family: "Pacifico";
          margin: auto 0;
        }

      }

      .small-text{
        width: 90%;
        p{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: auto;
          font-size: 1rem;
          font-family: "Lato";
          line-height: 2rem;
        }

        h2{
          font-size: 1.5rem;
          font-family: "Pacifico"; 
          margin: auto .3rem; 
        }

      }
    

    }
  }

    .nav-container{
      width: 22%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 1rem;
      // border-bottom: 1.5px solid $color3;

      .navlinks{
        text-decoration: none;
        color: $color4;
        font-family: "Lato";
        font-size: 1rem;
        font-weight: bold;
  
        &:hover{
          color: $color2;
        }
      }
    } 
  }
