@import './palette.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap');

.home-container{
  width: 65%;
  margin: auto;
  // background-color: $color2;
  // opacity: .8;
  padding: 2rem;
  border-radius: 5px;

  .greeting{
    text-align: center;

    p{
      font-size: 1.3rem;
    }
  }

  p{
    font-size: 1rem;
    font-family: "Lato";
  }
}