@import './palette.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap');

.home-container{
  width: 95%;
  margin: 2rem auto;
  margin-top: 4rem;


  .greeting{
    text-align: center;
    margin-left: 2rem;
    // border-bottom: 1.5px solid $color3;

      h1{
        font-size: 2.5rem;
        color: $color4;
        font-family: "Pacifico";
      }
  }

  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 2rem;

    img{
      width: 25%;
      height:25%;
    }

    .about-text{
      padding-left: 2rem;

      p{
        font-size: 1rem;
        font-family: "Lato";
      }
    }
  }


}