/* Coolors Exported Palette - coolors.co/e1f0c4-5a7452-b6a39e-3c032d-948b89 */

/* HSL */
$color1: hsla(80%, 59%, 85%, 1);
$color2: hsla(106%, 17%, 39%, 1);
$color3: hsla(13%, 14%, 67%, 1);
$color4: hsla(316%, 90%, 12%, 1);
$color5: hsla(11%, 5%, 56%, 1);

/* RGB */
$color1: rgba(225, 240, 196, 1);
$color2: rgba(90, 116, 82, 1);
$color3: rgba(182, 163, 158, 1);
$color4: rgba(60, 3, 45, 1);
$color5: rgba(148, 139, 137, 1);