@import './palette.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap');


.projects-container{
  width: 95%;
  margin: 2rem auto;
  margin-top: 4rem;

  .greeting{
    text-align: center;
    margin-left: 2rem;
    // border-bottom: 1.5px solid $color3;

      h1{
        font-size: 2.5rem;
        color: $color4;
        font-family: "Pacifico";
      }
  }

  .project-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3%;

    .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // background-color: $color4;
      width: 22%;
      margin: 2rem 1rem;
      position: relative;


      h3{
        color: $color4;
        font-size: 1.1rem;
      }

      .overlay-container{
        width: 100%;

        img{
          width: 100%;
          border-radius: 3px;
        }
  
        .overlay{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: $color4;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
        
          p{
            color: white;
            font-size: 1rem;
            text-align: center;
          }

          &:hover{
            opacity: .9;
          }
        }
      }
    }
  }
}
.modal{
  background-color: $color4;
  color: $color1;
  position: fixed;
  top: 20vh;
  left: 25vw;
  right: 50vw;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 3px;

  &:focus{
    outline: 0;
  }

  span{
    color: $color1;
    font-weight: bold;
    align-self: flex-end;
    font-size: 1rem;
    cursor: pointer;
  }

  h3{
    font-size: 2rem;
    align-self: center;
  }

  p{
    font-size: 1rem;
    width: 90%;
    margin: auto;
  }

  .icons{
    display: flex;
    justify-content: center;
    width: 30%;

    i{
      padding: 0 3%;
    }
  }

  .buttons{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 5%;

    button{
      width: 25%;
      padding: 1rem;
      background-color: $color2;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 3px;

      &:hover{
        background-color: $color5;
      }

      a{
        color: $color1;
        text-decoration: none;
      }
    }
  }



}