@import './palette.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap');


.projects-container{
  width: 95%;
  margin: 1rem auto;
  margin-top: -2rem;

  .greeting{
    text-align: center;
    border-bottom: 1.5px solid $color3;

      h1{
        font-size: 2.5rem;
        color: $color2;
        font-family: "Pacifico";
      }
  }
}