@import './palette.scss';


.resume-container{
  width: 95%;
  margin: 2rem auto;
  margin-top: 4rem;

  .greeting{
    text-align: center;
    margin-left: 2rem;
    // border-bottom: 1.5px solid $color3;

      h1{
        font-size: 2.5rem;
        color: $color4;
        font-family: "Pacifico";
      }
  }

  .resume-box{
    width: 70%;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
      text-align: center;
      margin: auto;
  
      button{
        padding: 1rem 2rem;
        border-radius: 3px;
        background-color: $color2;
        border: none;
        color: whitesmoke;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
  
        &:hover{
          background-color: $color4;
        }
      }
    }

  }


}

